.main
  flex 1

// Classe adicionada autimaticamente pelo SennaJS
// É nescessario a estilização personalizada para não quebrar o sticky footer
.flipped
  height 100%

.container-centered
  display flex
  justify-content center
  align-items center
  height 100%

.container
  border()
  display flex
  flex-wrap wrap
  margin 0 auto
  max-width 800px
  width 100%
