/* Header container
======================================== */
.header
  width 100%
  background-color $highlight-color


/* Menu
==================== */
.menu
  border()
  display flex
  align-items center

  @media screen and (max-width: 400px)
    order 2
    justify-content center
    padding 10px 0
    width 100%


.menu-itens
  display inline-block
  margin-top 0
  margin-bottom 0
  padding-left 0


.menu-item
  display inline-block
  list-style none


.menu-link
  display inline-block
  padding 10px
  color $light-color
  text-decoration none

  &:hover
    opacity .8


/* Profile
==================== */
.profile-header
  border()
  margin-left auto

  @media screen and (max-width 400px)
    order 1
    padding 10px 0
    width 100%
    text-align center


.profile-header-img
  margin 5px
  border-radius 50%
  vertical-align middle


.profile-text
  display inline-block
  margin 5px
  color $light-color
