/* Projects
==================== */
.projects
  width 100%

.projects-list
  border()
  display flex
  flex-wrap wrap
  width 100%

.heading-lv1-projects
  margin 20px 0

.project
  border()
  display flex
  flex-wrap wrap
  margin 5px
  padding 10px
  width 'calc(%s - %s)' % (100% 10px)
  background-color $light-color
  @media(min-width 500px)
    width 'calc(%s - %s)' % (50% 10px)

.project-name
  margin 0
  color $secondary-color
  font-weight 300

.project-star
  display flex
  align-items center
  margin-left auto

.project-star-count
  margin-left 5px
  color $secondary-color

.project-description
  margin 0
  margin-top 10px
  width 100%
  color $secondary-color
